# Copy to .env or export these variables before running scripts.
WINDOWS_SERVER_VM=Windows Server 2022 Standard (Updated July 2023)
WINDOWS_GATEWAY_VM=kali-linux-2023.3-virtualbox-amd64-gateway
WINDOWS_CLIENT_PREFIX=Win10-Ghosts-
WINDOWS_CLIENT_IDS=0 1 2 3 4 5
WINDOWS_CREDENTIALS_FILE=data/windows/activeDirectory_user_pass_only.csv
ADMIN_CLIENT_ID=0
ADMIN_USERNAME=vboxuser
ADMIN_PASSWORD=Password2
ADMIN_DOMAIN=Admin-wfh
LOGIN_DELAY_MIN=180
LOGIN_DELAY_MAX=539
WINDOWS_TARGET_IP=10.44.0.12
WINDOWS_SCAN_INTERFACE=eth0
WINDOWS_SCAN_HOSTS_FILE=data/windows/export_data-benign_rdp_20240114-IPs_only_clean_hosts.csv
WINDOWS_SCAN_GATEWAYS_FILE=data/windows/export_data-benign_rdp_20240114-IPs_only_clean_gateways.csv

TARGET_HOST=shop.example.org
TARGET_IP=10.24.44.5
TARGET_PORT=80
SOURCE_INTERFACE=eth0
